.background{
    background-image: url('/background-1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
}

@media (max-width: 48em) {
    .background{
        background-image: url('/background-1-rotation.svg');
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: end;
    max-width: 1180px;
    width: 100%;
    padding-inline: 2.5rem;
    padding-block: 8rem;
    margin: 0 auto;
    min-height: 100%;
}

.heroSection{
    color: var(--clr-neutral-1);
}

.heroSection h4{
    font-size: 28px;
    font-weight: 200;
    font-family: var(--ff-barlow);
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.heroSection h1{
    font-size: 136px;
    color: var(--clr-primary);
    font-family: var(--ff-bellefair);
    text-transform: uppercase;
}

.heroSection p{
    font-size: 16px;
    font-family: var(--ff-barlow);
    font-weight: 200;
    letter-spacing: .14rem;
}

.heroButtonSection{
    display: flex;
    justify-content: end;
}

.heroButton{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-neutral-2);
    background-color: var(--clr-primary);
    text-decoration: none;
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    font-family: var(--ff-bellefair);
    text-transform: uppercase;
    font-size: 32px;
    margin-block: 1.5rem;
}

.heroButton:hover{
    outline: 5rem solid var(--clr-primary-transparent);
}

@media (min-width: 55em) and (max-height: 850px) {

    .heroSection h4{
        font-size: 24px;
    }
    
    .heroSection h1{
        font-size: 120px;
    }
    

    .heroButton{
        width: 14rem;
        height: 14rem;
        font-size: 28px;
    }
}

@media (max-width: 55em){
    .container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .heroSection{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heroSection h4{
        text-align: center;
    }
    
    .heroSection h1{
        text-align: center;
    }
    
    .heroSection p{
        text-align: center;
        max-width: 32rem;
    }
    

    .heroButtonSection{
        justify-content: center;
    }
}

@media (max-width: 35em){
    .container {
        padding: 1.5rem;
        gap: 0;
    }
    .heroSection h4{
        font-size: 14px;
    }
    
    .heroSection h1{
        font-size: 80px;
    }
    
    .heroSection p{
        font-size: 12px;
    }

    .heroButton{
        margin-block: 5rem 7rem;
        font-size: 16px;
        width: 9rem;
        height: 9rem;
    }
    
    .heroButton:hover{
        outline: 3rem solid var(--clr-primary-transparent);
    }
}